@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}


br {
   display: block;
   margin: 10px 0;
}


body {
	background: linear-gradient(-126deg, #4C6085, #39A0ED, #36F1CD, #13C4A3, #32322C);
	background-size: 1000% 1000%;
	animation: gradientBG 15s ease infinite;
  color: #fff;
  align-items: center;
}

input {
  padding: 0 10px;
  outline: none;
}

/*Website address input*/
#websiteAddress {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border: none;
  margin: 0 0 15px 0;
}

/*Color input*/
.color_cont {
  height: 40px;
  width: 420px;
  background: #fff;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 15px 0;
}

/*Color demo*/
#color_demo {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #b6b308;
  height: 30px;
  margin: 0 5px;
}

.color_cont input {
  height: 30px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  background: #00000069;
  color: #fff;
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  border: none;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  cursor: pointer;
}


#resultImg {
  width: 50%;
  margin: 10px;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



@-webkit-keyframes gradientBG {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
 }
 @keyframes gradientBG {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
 }